<h1>
  Overview
</h1>
<p class="sub">
  The list below shows an overview of visible messages in the SQS queues.
</p>
<table class="overview">
  <tr>
    <th>Section</th>
    <th>Count</th>
    <th>Queue Names</th>
    <th>Queue URLs</th>
  </tr>
  <tr>
    <td class="status">
      <a href="<%= u('/enqueued') %>">Enqueued Messages</a>
    </td>
    <td>
       <%= @messages.count %>
    </td>
    <td>
      <%= @queues.collect{|c| c[:name]} %>
    </td>
    <td>
      <%= @queues.collect{|c| c[:url]} %>
    </td>
  </tr>
</table>