<h1>
  Overview
</h1>
<p class="sub">
  The list below shows an overview of messages in the SQS queues.
</p>
<table class="overview">
  <tr>
    <th>Queue Name</th>
    <th>Visible Messages Count</th>
    <th>In Flight Messages Count</th>
    <th>Source Queue</th>
  </tr>
  <% @queues.each do |queue| %>
    <%= partial :queue_stats, {:queue => queue, :stats => @stats[queue[:name]]} %>
  <% end %>
</table>